@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    td {
        @apply px-6 py-4;
    }
    th{
        @apply px-6 py-4 text-xs text-gray-500;
    }
    *:focus {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
      }
}

@layer components {
    .primary-button {
        @apply inline-flex justify-center items-center px-4 py-2 bg-primary rounded-xl text-sm text-white font-medium active:bg-primary-dark duration-150 transition ease-in-out;
    }

    .secondary-button {
        @apply inline-flex justify-center items-center px-4 py-2 bg-white border-2 border-primary rounded-xl text-sm text-primary font-medium;
    }

    .simple-button {
        @apply bg-card text-gray-500 inline-flex items-center justify-center px-3 py-1 rounded-xl transition select-none duration-300 transform active:scale-110;
    }

    .title {
        @apply text-center text-2xl font-extrabold text-gray-600;
    }

    .active-tab {
        @apply inline-block p-4 text-primary bg-card rounded-t-lg
    }

    .inactive-tab {
        @apply inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50
    }

    .badge-primary {
        @apply inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold bg-indigo-50 text-indigo-600
    }
}